<div class="index-nav">
	<div class="index-nav-element">
		<span class="index-nav-label index-nav-left-label"><strong>Page</strong></span>
	</div>
	
	<div class="index-nav-element">
		<ul class="pagination pagination-sm pagination-index-nav">
		  <% if page == 1 %>
			<li class="disabled"><span>&lsaquo;</span></li>
		  <% else %>
			<li><a href="<%= base_url + (page-1).to_s %>">&lsaquo;</a></li>		  
		  <% end %>
		  <% (1..num_pages).each do |page_num| %>
		  	<% if page_num == page %>
		  	  <li class="active"><span><%= page_num %></span></li>
		  	<% else %>
		  	  <li><a href="<%= base_url + page_num.to_s %>"><%= page_num %></a></li>
		  	<% end %>
		  <% end %>
		  <% if page == num_pages %>
			<li class="disabled"><span>&rsaquo;</span></li>
		  <% else %>
			<li><a href="<%= base_url + (page+1).to_s %>">&rsaquo;</a></li>
		  <% end %>
		</ul>
	</div>

	<div class="index-nav-element">
		<span class="index-nav-label"><strong>Sort by</strong></span>
	</div>

	<div class="index-nav-element">
		<div class="dropdown">
		  <button type="button" class="btn btn-sm btn-default dropdown-toggle" id="indexNavDropdownMenu1" data-toggle="dropdown">
			<%= sort %> &nbsp;&nbsp;<span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="indexNavDropdownMenu1">
			<li role="presentation" class="index-nav-dropdown-option"><a role="menuitem" tabindex="-1" href="#">Application Number</a></li>
			<li role="presentation" class="index-nav-dropdown-option"><a role="menuitem" tabindex="-1" href="#">BEN</a></li>
			<li role="presentation" class="index-nav-dropdown-option"><a role="menuitem" tabindex="-1" href="#">Applicant Name</a></li>
		  </ul>
		</div>
	</div>
	
	<div class="index-nav-element">
		<span class="index-nav-label"><strong>Results Per Page</strong></span>
	</div>

	<div class="index-nav-element">
		<div class="dropdown">
		  <button type="button" class="btn btn-sm btn-default dropdown-toggle" id="indexNavDropdownMenu2" data-toggle="dropdown">
			<%= page_len %> &nbsp;&nbsp;<span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="indexNavDropdownMenu2">
			<li role="presentation" class="index-nav-dropdown-option"><a role="menuitem" tabindex="-1" href="#">100</a></li>
			<li role="presentation" class="index-nav-dropdown-option"><a role="menuitem" tabindex="-1" href="#">500</a></li>
			<li role="presentation" class="index-nav-dropdown-option"><a role="menuitem" tabindex="-1" href="#">5000</a></li>
			<li role="presentation" class="index-nav-dropdown-option"><a role="menuitem" tabindex="-1" href="#">Show All</a></li>
		  </ul>
		</div>
	</div>
</div>