<h1><%= @type %> Applications</h1>
<br>

<%= erb :index_nav_partial, :locals => {:page => 1, :num_pages => 5, :sort => "Requested Support", :sort_options => ["Application Number", "BEN", "Applicant Name", "Requested Support"], :page_len => "1000", :page_len_options => ["100", "500", "1000", "5000", "Show All"]} %>

<table class="table table-hover table-condensed">
  <thead><tr>
    <th>App No</th>
    <th>BEN</th>
    <th>Applicant Name</th>
    <th>State</th>
    <th>Requested Support</th>
  </tr></thead>
<% @app_presenter.applications.each do |app| %>
  <tr>
    <td><%= '<a href="' + app.USAC_f471_URL + '">' %>
      <%= app.f471_application_number %></a></td>
    <td><%= app.ben %></td>
    <td><%= app.applicant_name %></td>
    <td><%= app.applicant_state %></td>
    <td>$ <%= number_with_delimiter(app.total_req.to_i) %></td>
  </tr>
<% end %>
</table>

