<h1><%= @app_presenter.type %> Applications</h1>
<br>

<%= erb :index_nav_partial, :locals => {
	:nav_type => "top",
	:page => @app_presenter.page, 
	:num_pages => (@app_presenter.application_count/@app_presenter.page_len + 1).to_i, 
	:num_records => @app_presenter.application_count,
	:base_url => "/applications/by_type/#{@app_presenter.type}/#{@app_presenter.sort_code}/#{@app_presenter.page_len}/",
	:sort => @app_presenter.sort_long_names[@app_presenter.sort_code], 
	:sort_options => Array.new(@app_presenter.sort_long_names.keys.length){ |i|
						{:label => @app_presenter.sort_long_names.values[i], 
						 :link => "/applications/by_type/#{@app_presenter.type}/#{@app_presenter.sort_long_names.keys[i]}/#{@app_presenter.page_len}/1"} },
	:page_len => @app_presenter.page_len, 
	:page_len_options => Array.new(@app_presenter.page_len_options.length){ |i|
							{:label => @app_presenter.page_len_options[i].to_s, 
							 :link => "/applications/by_type/#{@app_presenter.type}/#{@app_presenter.sort_code}/#{@app_presenter.page_len_options[i].to_s}/#{(((@app_presenter.page-1)*@app_presenter.page_len/@app_presenter.page_len_options[i]).to_i+1).to_s}"} } } %>

<table class="table table-hover table-condensed">
  <thead><tr>
    <th>App No</th>
    <th>BEN</th>
    <th>Applicant Name</th>
    <th>State</th>
    <th>Requested Support</th>
  </tr></thead>
<% @app_presenter.applications.each do |app| %>
  <tr>
    <td><%= '<a href="' + app.USAC_f471_URL + '">' %>
      <%= app.f471_application_number %></a></td>
    <td><%= app.ben %></td>
    <td><%= app.applicant_name %></td>
    <td><%= app.applicant_state %></td>
    <td>$ <%= number_with_delimiter(app.total_req.to_i) %></td>
  </tr>
<% end %>
</table>

<%= erb :index_nav_partial, :locals => {
	:nav_type => "bottom",
	:page => @app_presenter.page, 
	:num_pages => (@app_presenter.application_count/@app_presenter.page_len + 1).to_i,
	:num_records => @app_presenter.application_count,
	:page_len => @app_presenter.page_len, 
	:base_url => "/applications/by_type/#{@app_presenter.type}/#{@app_presenter.sort_code}/#{@app_presenter.page_len}/" } %>

